<%= form_for(@census_record) do |f| %>
  <% if @census_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@census_record.errors.count, "error") %> prohibited this census_record from being saved:</h2>

      <ul>
      <% @census_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
